<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>我的订单</title>
    <link rel="icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="css/webbase.css"/>
    <link rel="stylesheet" type="text/css" href="css/pages-seckillOrder.css"/>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="fonts/font-slider.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/photo-gallery.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->

</head>

<body>
<!-- 头部栏位 -->
<!--页面顶部-->
<div id="nav-bottom">
	<!--顶部-->
	<div class="nav-top">
		<div class="top">
			<div class="py-container">
				<div class="shortcut">
					<ul class="fl">
						<li class="f-item">threedays欢迎您！</li>
						<li class="f-item" th:if="${session.customer}==null">请<a href="login.html" target="_blank">登录</a>　<span><a href="register.html" target="_blank">免费注册</a></span></li>
                        <li class="f-item" th:if="${session.customer}!=null" th:text="${session.customer.getCu_Name()}"></li>
					</ul>
					<ul class="fr">
						<li class="f-item"><a th:href="@{~/getCart}" target="_blank">我的购物车</a></li>
						<li class="f-item space"></li>
						<li class="f-item"><a th:href="@{~/cu-index}" target="_blank">我的中心</a></li>
					</ul>
				</div>
			</div>
		
</div>

        <!--头部-->
        <div class="header">
            <div class="py-container">
                <div class="yui3-g Logo">
                    <div class="yui3-u Left logoArea">
                        <a class="logo-bd" title="三天" href="index.html" target="_blank"></a>
                    </div>
                    <!--<div class="yui3-u Center searchArea">
                        <div class="search">
                            <form action="" class="sui-form form-inline">

								<div class="input-append">
									<input type="text" id="autocomplete" type="text" class="input-error input-xxlarge" />
									<button class="sui-btn btn-xlarge btn-danger" type="button">搜索</button>
								</div>
							</form>
						</div>
						
					</div>-->
					<div class="yui3-u Right shopArea">
						<div class="fr shopcar">
							<div class="show-shopcar" id="shopcar">
								<span class="car"></span>
								<a class="sui-btn btn-default btn-xlarge" th:href="@{~/getCart}" target="_blank">
							
									<span>我的购物车</span>
									<i class="shopnum">0</i>
								</a>
							</div>
						</div>
					</div>
				</div>


            </div>
        </div>
    </div>

    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>


    <script type="text/javascript" src="js/plugins/jquery.easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="js/plugins/sui/sui.min.js"></script>
    <script type="text/javascript" src="js/plugins/jquery-placeholder/jquery.placeholder.min.js"></script>
    <script type="text/javascript" src="js/widget/nav.js"></script>

    <!--header-->
    <div id="account">
        <div class="py-container">
            <div class="yui3-g home">
                <!--左侧列表-->
                <div class="yui3-u-1-6 list">

                    <div class="person-info">
                        <div class="person-photo"><img src="img/_/photo.png" alt=""></div>
                        <div class="person-account">
                            <span class="name" th:text="${session.customer.getCu_Name()}">{{loginName}}</span>
                            <span class="safe"><a href="logout/cas">退出登录 </a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="list-items">

                        <dl>
                            <dt><i>·</i> 订单中心</dt>
                            <dd><a href="cu-index.html" class="list-active">我的订单</a></dd>

                        </dl>
                        <dl>
                            <dt><i>·</i> 设置</dt>
                            <dd><a href="cu-setting-info.html">个人信息</a></dd>
                        </dl>
                    </div>
                </div>
                <!--右侧主内容-->
                <div class="yui3-u-5-6 order-pay">
                    <div class="body">
                        <div class="table-title">
                            <table class="sui-table  order-table">
                                <tr>
                                    <thead>
                                    <th width="35%">宝贝</th>
                                    <th width="5%">单价</th>
                                    <th width="5%">数量</th>
                                    <th width="8%">商品操作</th>
                                    <th width="10%">实付款</th>
                                    <th width="10%">交易状态</th>
                                    <th width="10%">交易操作</th>
                                    </thead>
                                </tr>
                            </table>
                        </div>
                        <div class="order-detail">
                            <div class="orders">
                                <div class="choose-order">
                                    <!--<div class="sui-pagination pagination-large top-pages">
                                        <ul>
                                            <li class="prev disabled"><a href="#">上一页</a></li>

                                            <li class="next"><a href="#">下一页</a></li>
                                        </ul>
                                    </div>-->
                                </div>
                                <div th:each="Goods,userStat:${cuOrderGoods}">
                                    <!--order1-->
                                    <div class="choose-title">
                                        <label th:text="${Goods.getDate()}+${Goods.getOrderId()}+${Goods.getSeller().getSeller_name()}">时间+订单号+卖家</label>
                                    </div>
                                    <table class="sui-table table-bordered order-datatable">
                                        <tbody th:object="${Goods.getShowGoods()}">
                                        <tr th:each="show,Stat:${Goods.getShowGoods()}">
                                            <td width="35%">
                                                <!--"${'/bigGoods?bigGoodsId='+Goods.getBigGoodsId()}"-->
                                                <div class="typographic"><img src="img/goods.png"/>
                                                    <a th:href="${'/bigGoods?bigGoodsId='+show.getBigGoods().getBigGoodsId()}"
                                                       class="block-text" th:text="${show.getBigGoods().getGoodsName()}">商品名1</a>
                                                    <span class="guige" th:text="${show.getLittlegoods().getEdition()}">规格1</span>
                                                </div>
                                            </td>
                                            <td width="5%" class="center">
                                                <ul class="unstyled">
                                                    <li th:text="'¥单价'+${show.getLittlegoods().getGoodsPrice()}">¥单价</li>
                                                </ul>
                                            </td>
                                            <td width="5%" class="center" th:text="${show.getNumber()}">数量1</td>
                                            <td width="8%" class="center">
                                                <li><a class="btn" th:href="@{/changeStatus}" th:if="${Goods.getStatus() ne 3}">退货/退款</a></li>
                                            </td>
                                            <td width="10%" class="center">
                                                <ul class="unstyled">
                                                    <li th:text="'¥总价'+${Goods.getAllPrize()}">¥总价</li>
                                                </ul>
                                            </td>
                                            <td width="10%" class="center">
                                                <ul class="unstyled">
                                                    <li >状态</li>
                                                    <li><p href="orderDetail.html" class="btn" th:if="${Goods.getStatus() eq 0}">卖家待发货 </p></li>
                                                    <li><p href="orderDetail.html" class="btn" th:if="${Goods.getStatus() eq 1}">卖家已发货 </p></li>
                                                    <li><p href="orderDetail.html" class="btn" th:if="${Goods.getStatus() eq 2}">买家确认收获 </p></li>
                                                    <li><p href="orderDetail.html" class="btn" th:if="${Goods.getStatus() eq 3}">退货申请中 </p></li>
                                                    <li><p href="orderDetail.html" class="btn" th:if="${Goods.getStatus() eq 4}">卖家同意退货 </p></li>
                                                    <li><p href="orderDetail.html" class="btn" th:if="${Goods.getStatus() eq 5}">卖家拒绝退货 </p></li>
                                                    <li><p href="orderDetail.html" class="btn" th:if="${Goods.getStatus() eq 5}">订单详情 </p></li>
                                                </ul>
                                            </td>
                                            <td width="10%" class="center">
                                                <ul class="unstyled">
                                                    <li th:if="${Goods.getStatus() eq 2}">已确认收货</a></li>
                                                    <button type="button" class="btn bg-olive btn-x" title="确认收货"
                                                            onclick='confirm("你确认收货吗？")' th:if="${Goods.getStatus() ne 2}"><i class="fa fa-trash-o"></i> 确认收货
                                                    </button>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!--
                                <div class="choose-title">
                                    <label>时间+订单号+卖家</label>

                                </div>
                                <table class="sui-table table-bordered order-datatable">
                                    <tbody>
                                    <tr>
                                        <td width="35%">
                                            <div class="typographic"><img src="img/goods.png"/>
                                                <a href="#" class="block-text">商品名2</a>
                                                <span class="guige">规格2</span>
                                            </div>
                                        </td>
                                        <td width="5%" class="center">
                                            <ul class="unstyled">
                                                <li>¥单价2</li>
                                            </ul>
                                        </td>
                                        <td width="5%" class="center">1</td>
                                        <td width="8%" class="center">
                                            <ul class="unstyled">

                                                <li><a href="aftersale.html" class="btn">退货/退款</a></li>
                                            </ul>
                                        </td>
                                        <td width="10%" class="center" rowspan="2">
                                            <ul class="unstyled">
                                                <li>¥总价</li>
                                            </ul>
                                        </td>
                                        <td width="10%" class="center" rowspan="2">
                                            <ul class="unstyled">
                                                <li>状态卖家已发货</li>
                                                <li><a href="orderDetail.html" class="btn">订单详情 </a></li>
                                            </ul>
                                        </td>
                                        <td width="10%" class="center" rowspan="2">
                                            <ul class="unstyled">
                                                <button type="button" class="btn bg-olive btn-x" title="确认收货"
                                                        onclick='confirm("你确认收货吗？")'><i class="fa fa-trash-o"></i> 确认收货
                                                </button>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="35%">
                                            <div class="typographic"><img src="img/goods.png"/>
                                                <a href="#" class="block-text">商品</a>
                                                <span class="guige">规格</span>
                                            </div>
                                        </td>
                                        <td width="5%" class="center">
                                            <ul class="unstyled">
                                                <li>¥单价</li>
                                            </ul>
                                        </td>
                                        <td width="5%" class="center">1</td>
                                        <td width="8%" class="center">
                                            <ul class="unstyled">

                                                <li><a>退货/退款</a></li>
                                            </ul>
                                        </td>


                                    </tr>

                                    </tbody>
                                </table>order2-->

                                <!--
                                <div class="choose-title">
                                    <label>时间+订单号+卖家 </label>
                                </div>
                                <table class="sui-table table-bordered order-datatable">
                                    <tbody>
                                    <tr>
                                        <td width="35%">
                                            <div class="typographic"><img src="img/goods.png"/>
                                                <a href="#" class="block-text">商品</a>
                                                <span class="guige">规格</span>
                                            </div>
                                        </td>
                                        <td width="5%" class="center">
                                            <ul class="unstyled">

                                                <li>¥单价</li>
                                            </ul>
                                        </td>
                                        <td width="5%" class="center">1</td>
                                        <td width="8%" class="center">
                                            <ul class="unstyled">
                                                <li><a href="aftersale.html" class="btn">退货/退款</a></li>
                                            </ul>
                                        </td>
                                        <td width="10%" class="center">
                                            <ul class="unstyled">
                                                <li>¥299.00</li>

                                            </ul>
                                        </td>
                                        <td width="10%" class="center">
                                            <ul class="unstyled">
                                                <li>买家已付款</li>
                                                <li><a href="orderDetail.html" class="btn">订单详情 </a></li>
                                            </ul>
                                        </td>
                                        <td width="10%" class="center">
                                            <ul class="unstyled">
                                                <button type="button" class="btn bg-olive btn-x" title="确认收货"
                                                        onclick='confirm("你确认收货吗？")'><i class="fa fa-trash-o"></i> 确认收货
                                                </button>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>order3-->
                            </div>
                            <!--<div class="choose-order">
                                <div class="sui-pagination pagination-large top-pages">
                                    <ul>
                                        <li class="prev disabled"><a href="#">«上一页</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li class="dotted"><span>...</span></li>
                                        <li class="next"><a href="#">下一页»</a></li>
                                    </ul>
                                    <div><span>共10页&nbsp;</span><span>
                                            到
                                            <input type="text" class="page-num"><button class="page-confirm" onclick="alert(1)">确定</button>
                                            页</span></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</html>
   