<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>评价管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style2.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
 
</head>

<body class="hold-transition skin-red sidebar-mini" >
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">评价管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <!--<div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" ><i class="fa fa-file-o"></i> 新建</button>
                                        <button type="button" class="btn btn-default" title="删除"onclick='confirm("你确认要删除吗？")' ><i class="fa fa-trash-o"></i> 删除</button>
                                      
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>-->
                            
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              
										  <th class="sorting_asc">订单号</th>
									      <th class="sorting">商品名称</th>
									      <th class="sorting">版本</th>
									      <th class="sorting">买家评论</th>
									      <th class="sorting">我的反馈</th>
									      
									    
								     						
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr th:each="FinalDeliver,df:${list}">
			                              		                              
				                          <td th:text="${FinalDeliver.getOrderid()}">125651351</td>
									      <td th:text="${FinalDeliver.getName()}">华硕飞行堡垒</td>
									      <td th:text="${FinalDeliver.getEdtion()}">4Gb</td>
									      <td th:text="${FinalDeliver.getCommemts()}">太好用了，五星好评</td>
									      <td th:text="${FinalDeliver.getReply()}">&nbsp;</td>
									     
									                
		                                  <td class="text-center">                                          
		                                 	  <button type="button" class="btn bg-olive btn-xs" onclick='Tinsert()'>反馈</button>
		                                  </td>
		                                  
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
							  
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->
	
	<!-- 编辑窗口 -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">评价反馈</h3>
		</div>
		<div class="modal-body">
			<form method="post" th:action="@{~/DeliverManage/insertReply}" id="insertreply">
			<table class="table table-bordered table-striped"  width="800px">


				<tr>
					<td>订单号</td>
					<td><input name="order_id" type="text" class="form-control" placeholder="订单号" >  </td>
				</tr>
		      	<tr>
		      		<td>评价反馈</td>
		      		<td><input  name="reply" type="text" class="form-control" placeholder="评价反馈" >  </td>
		      	</tr>
			    
			 	
			 </table>

			</form>
		</div>
		<div class="modal-footer">						
			<button onclick='insert()' class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
</body>
<script type="text/javascript">
	function insert() {
		$("#insertreply").submit();
		window.location.reload();

	}

	function Tinsert() {
		var reply=prompt("输入回复：");
		if(reply==null)
			return;
		var td = event.srcElement; // 通过event.srcElement 获取激活事件的对象 td
		var rowindex = td.parentElement.parentElement.rowIndex;
		var table = document.getElementById("dataList");
		var orderid = table.rows[rowindex].cells[0].innerHTML;
		$.ajax({
			type: "get",
			url: "[[@{~/DeliverManage/insertReply}]]?order_id=" + orderid+"&reply="+reply,
			contentType: "application/json; charset=utf-8",
			success: function(string) {
				alert(string);
				window.location.reload();
			}
		});

	}
</script>

</html>