<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style2.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini">
<!-- .box-body -->

<div class="box-header with-border">
    <h3 class="box-title">商品管理</h3>
</div>

<div class="box-body">

    <!-- 数据表格 -->
    <div class="table-box">

        <!--工具栏-->
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal"
                            data-target="#addModal"><i class="fa fa-file-o"></i> 新建
                    </button>
                    <button type="button" class="btn btn-default" title="新建" data-toggle="modal"
                            data-target="#addPicture"><i class="fa fa-file-o"></i> 新建图片
                    </button>


                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i
                            class="fa fa-refresh"></i> 刷新
                    </button>
                </div>
            </div>
        </div>

        <!--工具栏/-->

        <!--数据列表-->
        <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>

                <th class="sorting_asc">商品ID</th>
                <th class="sorting_asc">版本ID</th>
                <th class="sorting">商品名称</th>
                <th class="sorting">商品品牌</th>
                <th class="sorting">商品价格</th>
                <th class="sorting">版本</th>


                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody th:each="Goods,t:${goods}">
            <tr th:each="littlegoods,d:${Goods.getLittleGoodsList()}">
                <td th:text="${Goods.getBigGoodsId()}">12</td>
                <td th:text="${littlegoods.getLittleGoodsId()}">12</td>
                <td th:text="${Goods.getName()}">华硕飞行堡垒</td>
                <td th:text="${Goods.getBrand()}">华硕</td>
                <td th:text="${littlegoods.getGoodsPrice()}">5090</td>
                <td th:text="${littlegoods.getEdition()}">4Gb</td>

                <td class="text-center">

                    <button type="button" class="btn bg-olive btn-x" title="删除" onclick='deletegoods()'><i
                            class="fa fa-trash-o"></i> 删除
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <!--数据列表/-->


    </div>
    <!-- 数据表格 /-->


</div>
<!-- /.box-body -->

<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">新增商品</h3>
            </div>
            <div class="modal-body">
                <form method="post" th:action="@{~/newgoods}" id="goods">

                    <table class="table table-bordered table-striped" width="800px">


                        <tr>
                            <td>商品ID</td>
                            <td><input id="newgoodsid" name="biggoodsid" class="form-control" placeholder="商品ID(可以留空)"></td>
                        </tr>
                        <tr>
                            <td>商品名称</td>
                            <td><input id="goodsname" name="name" class="form-control" placeholder="商品名称"></td>
                        </tr>

                        <tr>
                            <td>商品品牌</td>
                            <td><input id="goodsbrand" name="brand" class="form-control" placeholder="商品品牌"></td>
                        </tr>

                        <tr>
                            <td>版本</td>
                            <td><input id="goodsedtion" name="edtion" class="form-control" placeholder="版本"></td>
                        </tr>

                        <tr>
                            <td>商品价格</td>
                            <td><input id="goodsprize" name="prize" class="form-control" placeholder="商品价格"></td>
                        </tr>

                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button onclick='insertgoods()' class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存
                </button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addPicture" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3>新增商品</h3>
            </div>
            <div class="modal-body">

                <table class="table table-bordered table-striped" width="800px">
                    <form method="post" th:action="@{~/image/uploadindex}" id="indeximgs" enctype="multipart/form-data" target="nm_iframe">
                        <tr>
                            <td>商品ID</td>
                            <td><input id="goods_id" name="goodsid" class="form-control" placeholder="商品ID"></td>
                        </tr>

                        <tr>
                            <td>商品首页展示图片</td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
<!--                                            id="indexfile"-->
                                            <input  name="file" type="file" id="indexfile"/>


                                            <button class="btn btn-primary" type="button" onclick='uploadindeximg()'>
                                                上传
                                            </button>
                                        </td>
                                        <td>
                                            <img id="indeximg" src="" width="200px" height="100px">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </form>
                    <form method="post" th:action="@{~/image/upload}" id="othersimgs" enctype="multipart/form-data" target="nm_iframe">
                        <tr>
                        <tr>
                            <td>商品ID</td>
                            <td><input id="goods_id1" name="goodsid" class="form-control" placeholder="商品ID"></td>
                        </tr>
                            <td>商品详情页图片</td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <input name="file" type="file" id="otherfile"/>
                                            <button onclick='uploadotherimg()' class="btn btn-primary" type="button">
                                                上传
                                            </button>
                                        </td>
                                        <td>
                                            <img id="otherfileimg" src="" width="200px" height="100px">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </form>

                </table>

            </div>
            <div class="modal-footer">
                <button   class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存</button>
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
            </div>
        </div>
    </div>
</div>
<iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
</body>
<script type="text/javascript">
    /*显示上传的图片*/
    function getObjectURL(file) {
        var url = null ;
        if (window.createObjectURL!=undefined) {
            url = window.createObjectURL(file) ;
        } else if (window.URL!=undefined) {
            url = window.URL.createObjectURL(file) ;
        } else if (window.webkitURL!=undefined) {
            url = window.webkitURL.createObjectURL(file) ;
        }
        return url ;
    }
    var indexfileflag=false;
    var otherfileflag=true;
    $('#indexfile').change(function() {
        var eImg=$('#indeximg');
        eImg.attr('src', getObjectURL($(this)[0].files[0]));
        $(this).after(eImg);
        indexfileflag=true;
    });
    $('#otherfile').change(function() {
        var eImg=$('#otherfileimg');
        eImg.attr('src', getObjectURL($(this)[0].files[0]));
        $(this).after(eImg);
        otherfileflag=true;
    });

    function uploadindeximg() {
        var goods_id=document.getElementById("goods_id").value;
        alert(goods_id);
        if(goods_id==""){
            alert("输入id");
            return;
        }
        if(indexfileflag==false){
            alert("没输入图片");
            return;
        }


        document.getElementById("indeximgs").submit();
        alert("成功");
      //  document.getElementById("indeximg").src=window.URL.createObjectURL( document.getElementById("indexfile"));
    }
    function uploadotherimg() {
        var goods_id=document.getElementById("goods_id1").value;
        if(goods_id==""){
            alert("输入id");
            return;
        }
        if(otherfileflag==false){
            alert("没输入图片");
            return;
        }
        document.getElementById("othersimgs").submit();
        alert("成功");
        //  document.getElementById("indeximg").src=window.URL.createObjectURL( document.getElementById("indexfile"));
    }
    function insertgoods() {
        var goodid=document.getElementById("newgoodsid").value;
        var goodname=document.getElementById("goodsname").value;
        var goodsbrand=document.getElementById("goodsbrand").value;
        var goodsedtion=document.getElementById("goodsedtion").value;
        var goodsedtion=document.getElementById("goodsedtion").value;
        var goodsprize=document.getElementById("goodsprize").value;
        if(goodid!="" && goodsedtion==""){
            alert("输入id时，版本不可为空")
            return;
        }
        if(goodid=="" && (goodname=="" ||goodsbrand==""||goodsedtion=="" ||goodsedtion==""||goodsprize=="")){
            alert("未输入id时，其他信息不可为空")
            return;
        }



        if (confirm("确定加入吗？")) {
            document.getElementById("goods").submit();
        }
    }

    function deletegoods() {
        if (confirm("你确认要删除吗？")) {
            var td = event.srcElement; // 通过event.srcElement 获取激活事件的对象 td
            var rowindex = td.parentElement.parentElement.rowIndex;
            var table = document.getElementById("dataList");
            var littegoodsid = table.rows[rowindex].cells[1].innerHTML;
            $.ajax({
                type: "get",
                url: "[[@{~/GoodsManage/deleteLittleGoodsById}]]/" + littegoodsid,
                contentType: "application/json; charset=utf-8",
                success: function (string) {
                    alert(string);
                    window.location.reload();
                }
            });
        }

    }
</script>
</html>