<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style2.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
 
</head>

<body class="hold-transition skin-red sidebar-mini" >
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">商品管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#addModal"><i class="fa fa-file-o"></i> 新建</button>
                                        
                                      
                                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                                    </div>
                                </div>
                            </div>
                            
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">商品ID</th>
									      <th class="sorting">商品名称</th>
									      <th class="sorting">商品品牌</th>
									      <th class="sorting">商品价格</th>
									      <th class="sorting">分类</th>
									      <th class="sorting">版本</th>
									    
								     						
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          <tr>
			                              <td><input  type="checkbox"></td>			                              
				                          <td>12</td>
									      <td>华硕飞行堡垒</td>
									      <td>华硕</td>
									      <td>5090</td>
									      <td>笔记本</td>
									      <td>4Gb</td>
									                
		                                  <td class="text-center">                                          
		                                 	  
		                                 	  <button type="button" class="btn bg-olive btn-x" title="删除"onclick='confirm("你确认要删除吗？")' ><i class="fa fa-trash-o"></i> 删除</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
							  
							 
                        </div>
                        <!-- 数据表格 /-->
                        
                        
                     </div>
                    <!-- /.box-body -->
                    
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">新增商品</h3>
		</div>
		<div class="modal-body">							
			
			<table class="table table-bordered table-striped"  width="800px">
				
									      
				<tr>
		      		<td>商品ID</td>
		      		<td><input  class="form-control" placeholder="商品ID" >  </td>
		      	</tr>
				<tr>
		      		<td>商品名称</td>
		      		<td><input  class="form-control" placeholder="商品名称" >  </td>
		      	</tr>
		      	
		      	<tr>
		      		<td>商品品牌</td>
		      		<td>
		      			<select class="form-control"placeholder="商品品牌" >
		                </select>
		      		</td>
		      	</tr>
			    <tr>
		      		<td>商品价格</td>
		      		<td><input  class="form-control" placeholder="商品价格" >  </td>
		      	</tr>	
		      		<tr>
		      		<td>商品分类</td>
		      		<td>
		      			<select class="form-control" >
		                </select>
		      		</td>
		      	</tr>
		      	<tr>
		      		<td>版本</td>
		      		<td><input  class="form-control" placeholder="版本" >  </td>
		      	</tr>
		      	<tr>
		      		<td>商品图片</td>
		      		<td>
						<table>
							<tr>
								<td>
								<input type="file" id="file" />				                
					                <button class="btn btn-primary" type="button" >
				                   		上传
					                </button>	
					            </td>
								<td>
									<img  src="{{entity.pic}}" width="200px" height="100px">
								</td>
							</tr>						
						</table>
		      		</td>
		      	</tr>	      
		      	
			 </table>				
			
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>	
</body>

</html>