<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeDays.dao.BigGoodsMapper">
    <resultMap type="com.threeDays.POJO.BigGoods" id="BigGoodsMap">
        <id property="bigGoodsId" column="biggoods_id" javaType="java.math.BigInteger"/>
        <result property="goodsName" column="goods_name" javaType="java.lang.String"/>
        <result property="sellerId" column="seller_id" javaType="java.math.BigInteger"/>
        <result property="brand" column="brand" javaType="java.lang.String"/>
    </resultMap>
    <select id="findAll" parameterType="com.threeDays.POJO.BigGoods" resultMap="BigGoodsMap">
        select *
        from biggoods
    </select>
    <insert id="saveBigGoods" parameterType="com.threeDays.POJO.BigGoods" useGeneratedKeys="true"
            keyProperty="bigGoodsId">
        insert into biggoods(goods_name, seller_id, brand)
        values (#{goodsName}, #{sellerId}, #{brand})
    </insert>
    <delete id="deleteBigGoods" parameterType="java.math.BigInteger">
        delete
        from biggoods
        where biggoods_id = #{bigGoodsId}
    </delete>
    <update id="updateNewBigGoods" parameterType="com.threeDays.POJO.BigGoods">
        update biggoods
        <set>
            <if test="goodsName !=null and goodsName !=''">
                goods_name=#{goodsName}
            </if>
        </set>
        where biggoods_id = #{bigGoodsId}
    </update>
    <select id="findBigGoodsById" resultMap="BigGoodsMap" parameterType="com.threeDays.POJO.BigGoods">
        select *
        from biggoods
        where biggoods_id = #{bigGoodsId}
    </select>
    <select id="findBigGoodsByName" resultMap="BigGoodsMap" parameterType="com.threeDays.POJO.BigGoods">
        select *
        from biggoods
        where goods_name = #{goodsName}
    </select>
    <select id="getBigGoodsId" resultMap="BigGoodsMap" parameterType="com.threeDays.POJO.BigGoods">
        select *
        from biggoods
        where goods_name = #{goodsName}
          and seller_id = #{sellerId}
    </select>
    <select id="getSellerId" resultMap="BigGoodsMap" parameterType="com.threeDays.POJO.BigGoods">
        select seller_id
        from biggoods
        where goods_name = #{goodsName}
    </select>
    <select id="getSellerIdById" resultType="java.math.BigInteger">
        select seller_id
        from biggoods
        where biggoods_id = #{bigGoodsId}
    </select>
    <select id="getBigGoods" resultMap="BigGoodsMap">
        select *
        from biggoods
        where biggoods_id = #{bigGoodsId}
    </select>
    <select id="getBigGoodsByBrand" resultMap="BigGoodsMap">
        select *
        from biggoods
        where brand = #{brand}
    </select>
    <select id="getBigGoodsIdByBrand" resultMap="BigGoodsMap">
        select biggoods_id
        from biggoods
        where brand = #{brand}
    </select>
    <select id="getBigGoodsBySellerId" resultMap="BigGoodsMap">
        select *
        from biggoods
        where seller_id = #{sellerId}
    </select>
    <select id="searchGoods" parameterType="java.lang.String" resultType="java.math.BigInteger">
        select biggoods_id
        from biggoods
        where goods_name like #{name}
    </select>
    <select id="getMinId" resultMap="BigGoodsMap">
        select min(biggoods_id)
        from biggoods
    </select>

    <select id="getMaxId" resultMap="BigGoodsMap">
        select max(biggoods_id)
        from biggoods
    </select>
</mapper>