<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeDays.dao.CartMapper">
    <resultMap type="com.threeDays.POJO.Cart" id="CartMap">
        <id property="Id" column="cart_id" javaType="java.math.BigInteger"/>
        <result property="customerId" column="cu_id" javaType="java.math.BigInteger"/>
        <result property="littleGoodsId" column="littlegoods_id" javaType="java.math.BigInteger"/>
        <result property="littleGoodsNum" column="littlegoods_num" javaType="int"/>
        <result property="goodsStatus" column="goods_status" javaType="int"/>
    </resultMap>

    <select id="findAll" parameterType="com.threeDays.POJO.Cart" resultMap="CartMap">
        select *
        from cart
    </select>

    <insert id="addLittleGoods" parameterType="com.threeDays.POJO.Cart" useGeneratedKeys="true"
            keyProperty="cart_id">
        insert into cart(cu_id, littlegoods_id, littlegoods_num)
        values (#{customerId}, #{littleGoodsId}, #{littleGoodsNum})
    </insert>
    <delete id="deleteLittleGoods" parameterType="com.threeDays.POJO.Cart">
        delete
        from cart
        where cu_id = #{customerId}
          and littlegoods_id = #{littleGoodsId}
    </delete>
    <update id="removeLittleGoods" parameterType="com.threeDays.POJO.Cart">
        update cart
        set littlegoods_num=#{littleGoodsNum}
        where littlegoods_id = #{littleGoodsId}
          and cu_id = #{customerId}
    </update>

    <update id="updateLittleGoods" parameterType="com.threeDays.POJO.Cart">
        update cart
        set littlegoods_id=#{littleGoodsId}
        where littlegoods_id = #{littleGoodsId}
          and cu_id = #{customerId}
    </update>
    <select id="selectLittleGoods" parameterType="com.threeDays.POJO.Cart" resultType="CartMap">
        select *
        from cart
        where cu_id = #{customerId}
          and littlegoods_id = #{littleGoodsId}
    </select>


</mapper>