<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeDays.dao.CustomerPasswordMapper">
    <resultMap type="com.threeDays.POJO.CustomerPassword" id="CustomerPasswordMap">
        <id property="customerId" column="cu_id" javaType="java.math.BigInteger"/>
        <result property="customerPassWord" column="cu_password" javaType="java.lang.String"/>
    </resultMap>
    <select id="passwordById" parameterType="java.math.BigInteger" resultMap="CustomerPasswordMap">
        select * from customerpassword where cu_id=#{customerId}
    </select>
    <update id="updatePassword">
        update customerpassword SET cu_password=#{customerPassWord} where cu_id=#{customerId}
    </update>
    <insert id="insertPassword">
        insert into customerpassword(cu_id,cu_password) values (#{customerId},#{customerPassWord})
    </insert>



</mapper>