<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeDays.dao.CustomerPasswordMapper">
    <select id="queryPasswordById" parameterType="java.math.BigInteger" resultMap="java.lang.String">
        select password from Customerpassword where cu_id=#{cu_id}
    </select>
    <update id="updatePassword" >
        update Customerpassword SET password=#{1} where cu_id=#{0}
    </update>


</mapper>