<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeDays.dao.CustomerMapper">
    <resultMap type="com.threeDays.POJO.Customer" id="CustomerMap">
        <id property="customerId" column="cu_id" javaType="java.math.BigInteger"/>
        <result property="cu_Telephone" column="cu_tel" javaType="java.lang.String"/>
        <result property="cu_Address" column="cu_address" javaType="java.lang.String"/>
        <result property="cu_Name" column="cu_name" javaType="java.lang.String"/>
    </resultMap>
    <select id="findAll" parameterType="com.threeDays.POJO.Customer" resultMap="CustomerMap">
        select *
        from customer
    </select>
    <insert id="addCustomer" parameterType="com.threeDays.POJO.Customer" useGeneratedKeys="true"
            keyProperty="cu_id">
        insert into customer (cu_tel, cu_address, cu_name)
        values (#{cu_Telephone}, #{cu_Address}, #{cu_Name})
    </insert>
    <delete id="deleteCustomer" parameterType="com.threeDays.POJO.Customer">
        delete
        from customer
        where cu_id = #{customerId}
    </delete>
    <update id="updateCustomer" parameterType="com.threeDays.POJO.Customer">
        update customer
        <set>
            <if test="cu_Telephone !=null and cu_Telephone !=''">
            cu_tel=#{cu_Telephone},
            </if>
            <if test="cu_Address !=null and cu_Address !=''">
            cu_address=#{cu_Address},
            </if>
            <if test="cu_Name !=null and cu_Name !=''">
            cu_name=#{cu_Name}
            </if>
        </set>
        <where>cu_id=#{customerId}
        </where>
    </update>
    <select id="getCustomer" resultMap="CustomerMap">
        select *
        from customer
        where cu_id = #{customerId}
    </select>


</mapper>