<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeDays.dao.LittleGoodsMapper">
    <!-- parameterType:参数类型,填写实体类的完整名字 -->
    <resultMap type="com.threeDays.POJO.LittleGoods" id="LittleGoodsMap">
        <id property="littleGoodsId" column="littlegoods_id" javaType="java.math.BigInteger"/>
        <result property="bigGoodsId" column="biggoods_id" javaType="java.math.BigInteger"/>
        <result property="edition" column="edition" javaType="java.lang.String"/>
        <result property="sellerId" column="seller_id" javaType="java.math.BigInteger"/>
        <result property="goodsPrice" column="goodsprice" javaType="float"/>
    </resultMap>
    <select id="findAll" parameterType="com.threeDays.POJO.LittleGoods" resultMap="LittleGoodsMap">
        select *
        from littlegoods
    </select>
    <update id="updateEdition" parameterType="com.threeDays.POJO.LittleGoods">
        update littlegoods
        <set>
            <if test="edition !=null and edition !=''">
                edition=#{edition}
            </if>
        </set>
        <where>
            seller_id=#{sellerId}
            and littlegoods_id=#{littleGoodsId}
        </where>
    </update>
    <update id="updatePrice">
        update littlegoods
        <set>
            <if test="goodsPrice !=null and goodsPrice !=''">
                goodsprice=#{goodsPrice}
            </if>
        </set>
        <where>
            edition = #{edition}
            and seller_id = #{sellerId}
            and biggoods_id=#{bigGoodsId}
        </where>
    </update>
    <insert id="addNewLittleGoods" useGeneratedKeys="true"
            keyProperty="littlegoods_id">
        insert into littlegoods (biggoods_id, edition, seller_id, goodsprice)
        values (#{bigGoodsId}, #{edition}, #{sellerId}, #{goodsPrice})
    </insert>
    <delete id="deleteBigGoods">
        delete
        from littlegoods
        where biggoods_id = #{bigGoodsId}
    </delete>
    <delete id="deleteLittleGoods">
        delete
        from littlegoods
        where littlegoods_id = #{littleGoodsId}
    </delete>
    <select id="minPrice" resultMap="LittleGoodsMap">
        select min(goodsprice)
        from LittleGoods
        where biggoods_id = #{bigGoodsId}
          and seller_id = #{sellerId}
    </select>
    <select id="maxPrice" resultMap="LittleGoodsMap">
        select max(goodsprice)
        from LittleGoods
        where biggoods_id = #{bigGoodsId}
          and seller_id = #{sellerId}
    </select>
    <select id="LittleGoods" resultMap="LittleGoodsMap">
        select *
        from LittleGoods
        where biggoods_id = #{bigGoodsId}
    </select>
    <select id="getEdition" resultMap="LittleGoodsMap">
        select edition
        from LittleGoods
        where biggoods_id = #{bigGoodsId}
    </select>
    <select id="findSellerById" parameterType="java.math.BigInteger" resultType="java.math.BigInteger">
        select seller_id
        from littleGoods
        where littlegoods_id = #{littleGoodId}
    </select>
    <select id="findLittleGoodsById" parameterType="java.math.BigInteger" resultMap="LittleGoodsMap">
        select *
        from littleGoods
        where littlegoods_id = #{littleGoodId}
    </select>
</mapper>