<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeDays.dao.LittleGoodsMapper">
    <!-- parameterType:参数类型,填写实体类的完整名字 -->
    <resultMap type="com.threeDays.POJO.LittleGoods" id="LittleGoodsMap">
        <id property="littleGoodsId" column="littlegoods_id" javaType="java.math.BigInteger"/>
        <result property="bigGoodsId" column="biggoods_id" javaType="java.math.BigInteger"/>
        <result property="edition" column="edition" javaType="java.lang.String"/>
        <result property="sellerId" column="seller_id" javaType="java.math.BigInteger"/>
        <result property="goodsPrice" column="goodsprice" jdbcType="float"/>
    </resultMap>
    <select id="findAll" parameterType="com.threeDays.POJO.LittleGoods" resultMap="LittleGoodsMap">
        select *
        from littlegoods
    </select>
    <update id="updateEdition" parameterType="com.threeDays.POJO.LittleGoods">
        update littlegoods
        set (littlegoods_id=
             #{littleGoodsId})
        where littlegoods_id = #{littleGoodsId}
    </update>
    <insert id="addNewLittleGoods" parameterType="com.threeDays.POJO.LittleGoods" useGeneratedKeys="true"
            keyProperty="cu_id">
        insert into littlegoods (biggoods_id, edition, seller_id, goodsprice)
        values (#{bigGoodsId}, #{edition}, #{sellerId}, #{goodsPrice})
    </insert>

    <delete id="deleteLittleGoods" parameterType="com.threeDays.POJO.LittleGoods">
        delete
        from littlegoods
        where biggoods_id = #{bigGoodsId}
    </delete>

    <update id="updatePrice" parameterType="com.threeDays.POJO.LittleGoods">
        update littlegoods
        set (goodsprice=
             #{goodsPrice})
        where littlegoods_id = #{littleGoodsId}
    </update>

    <select id="minPrice" parameterType="com.threeDays.POJO.LittleGoods" resultMap="LittleGoodsMap">
        select min(goodsprice)
        from LittleGoods
        where biggoods_id = #{bigGoodsId}
    </select>

    <select id="maxPrice" parameterType="com.threeDays.POJO.LittleGoods" resultMap="LittleGoodsMap">
        select max(goodsprice)
        from LittleGoods
        where biggoods_id = #{bigGoodsId}
    </select>


</mapper>