<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeDays.dao.OrderMapper">
    <select id="findOrderById" parameterType="java.math.BigInteger" resultMap="OrderMap">
        select * from [order] where order_id=#{order_id}
    </select>
    <insert id="insertOrder" parameterType="com.threeDays.POJO.Order" useGeneratedKeys="true" keyProperty="order_id">
         insert into [order](littlegoods_id,cu_id,order_status) values (#{littlegoods_id},#{cu_id},#{order_status})
    </insert>
    <insert id="insertComment" >
        insert into [order](comments) values (#{1}) where order_id=#{0}
    </insert>

    <insert id="insertReply">
        insert into [order](reply) values (#{1}) where order_id=#{0}
    </insert>
    <update id="updateOrder" parameterType="com.threeDays.POJO.Order">
         update [order] SET littlegoods_id=#{littlegoods_id},cu_id=#{cu_id},order_status=#{order_status},comments=#{comments},reply=#{reply} where order_id=#{order_id}
    </update>
    <delete id="deleteOrder" parameterType="java.math.BigInteger">
        delete from [order] where order_id=#{order_id}
    </delete>
    <update id="changeStatus">
        update [order] SET order_status=#{1} where order_id=#{0}
    </update>

    <resultMap type="com.threeDays.POJO.Order" id="OrderMap">
        <id property="order_id" column="order_id" javaType="java.math.BigInteger"/>
        <result property="cu_id" column="cu_id" javaType="java.math.BigInteger"/>
        <result property="littlegoods_id" column="littlegoods_id" javaType="java.math.BigInteger"/>
        <result property="order_status" column="order_status" javaType="java.lang.Integer"/>
        <result property="comments" column="comments" javaType="java.lang.String"/>
        <result property="reply" column="reply" javaType="java.lang.String"/>
    </resultMap>
</mapper>