<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeDays.dao.SellerMapper">
    <select id="findSellerById" parameterType="java.math.BigInteger" resultMap="SellerMap">
        select * from seller where seller_id=#{seller_id}
    </select>
    <select id="findSellerByName" parameterType="java.lang.String" resultMap="SellerMap" >
        select * from seller where seller_name=#{seller_name}
    </select>
    <insert id="insertSeller" parameterType="com.threeDays.POJO.Seller" useGeneratedKeys="true" keyProperty="seller_id" >
        insert into seller(seller_tel,seller_address,seller_name,balance) values (#{seller_tel},#{seller_address},#{seller_name},#{balance})
    </insert>
    <update id="updateSeller" parameterType="com.threeDays.POJO.Seller">
        update seller SET seller_tel=#{seller_tel},seller_address=#{seller_address},seller_name=#{seller_name},balance=#{balance} where seller_id=#{seller_id}
    </update>
    <select id="queryBalance" resultType="java.lang.Float">
        select balance from seller where seller_id=#{seller_id}
    </select>
    <update id="updateBalance">
        update seller SET balance=#{balance} where  seller_id=#{seller_id}
    </update>

    <resultMap type="com.threeDays.POJO.Seller" id="SellerMap">
        <id property="seller_id" column="seller_id" javaType="java.math.BigInteger"/>
        <result property="seller_tel" column="seller_tel" javaType="java.lang.String"/>
        <result property="seller_address" column="seller_address" javaType="java.lang.String"/>
        <result property="seller_name" column="seller_name" javaType="java.lang.String"/>
        <result property="balance" column="balance" javaType="java.lang.Float"/>
    </resultMap>
</mapper>