<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.threeDays.dao.SellerPasswordMapper">
    <select id="queryPasswordById" parameterType="java.math.BigInteger" resultType="java.lang.String">
        select password from sellerpassword where seller_id=#{seller_id}
    </select>
    <update id="updatePassword" >
        update sellerpassword SET password=#{1} where seller_id=#{0}
    </update>
    <insert id="insertPassword">
        insert into sellerpassword(seller_id,seller_password) values (#{0},#{1})
    </insert>


</mapper>